/*设置背景*/
#id1{
	background-image:url(../img/wallpaper.jpg);
	background-attachment:fixed;
	
	
	}
/*Verdana，粉红字体*/
.class1{
	text-indent:5%;
    color:rgb(255,0,128);
	font-family:Verdana;
	font-size:200%;
	}
/*页脚*/
#footer{
	color:rgb(255,0,128);
	font-family:Verdana;
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	}
/*页脚中版权声明以外的为黑色*/
#id2{
	color:black;
	}
	